* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* regole header */
header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 30%;
}

.header-logo img {
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-weight: bold;
}

/* regole footer */